<h1>All our Flats</h1>
<p>All 2 flats.</p>

<div class="card">
  <img src="#" alt="appartement interior">
  <div class="info-card">
    <h2></h2>
    <p></p>
    <div class="price">
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="links">
    <%= link_to %>
    <%= link_to %>
    <%= link_to %>
  </div>

</div>
